Fluxos/Backup_Fluxo_NiFi_-_WebAssist.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>53797246-0188-1000-70fe-4e8f89c50e1d</groupId>
    <name>Backup_Fluxo_NiFi_-_WEBASSIST (06-06-2023)</name>
    <snippet>
        <controllerServices>
            <id>43a9d351-4724-3807-0000-000000000000</id>
            <parentGroupId>dce64f36-e0b8-332f-0000-000000000000</parentGroupId>
            <versionedComponentId>43a9d351-4724-3807-9893-4748a5438a8a</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-dbcp-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.21.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Database Connection URL</key>
                    <value>
                        <name>Database Connection URL</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>
                        <name>Database Driver Class Name</name>
                    </value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>
                        <name>database-driver-locations</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
                        <name>kerberos-user-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                    <value>
                        <name>kerberos-principal</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                    <value>
                        <name>kerberos-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>
                        <name>Database User</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>
                        <name>Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>
                        <name>Max Total Connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>
                        <name>dbcp-min-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>
                        <name>dbcp-max-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>
                        <name>dbcp-max-conn-lifetime</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>
                        <name>dbcp-time-between-eviction-runs</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-soft-min-evictable-idle-time</name>
                    </value>
                </entry>
            </descriptors>
            <name>dwh_so - DBCPConnectionPool</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Database Connection URL</key>
                    <value>jdbc:mysql://192.168.21.175:3306/dwh_so?user=srv_arq&amp;password=hellodwh@solidy</value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>com.mysql.cj.jdbc.Driver</value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>srv_arq</value>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>500 millis</value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>0</value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>30 mins</value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>-1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <controllerServices>
            <id>6d9433c0-3879-3cbf-0000-000000000000</id>
            <parentGroupId>dce64f36-e0b8-332f-0000-000000000000</parentGroupId>
            <versionedComponentId>6d9433c0-3879-3cbf-882d-67e055bba1cf</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-dbcp-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.21.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Database Connection URL</key>
                    <value>
                        <name>Database Connection URL</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>
                        <name>Database Driver Class Name</name>
                    </value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>
                        <name>database-driver-locations</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
                        <name>kerberos-user-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                    <value>
                        <name>kerberos-principal</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                    <value>
                        <name>kerberos-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>
                        <name>Database User</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>
                        <name>Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>
                        <name>Max Total Connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>
                        <name>dbcp-min-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>
                        <name>dbcp-max-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>
                        <name>dbcp-max-conn-lifetime</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>
                        <name>dbcp-time-between-eviction-runs</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-soft-min-evictable-idle-time</name>
                    </value>
                </entry>
            </descriptors>
            <name>dwh_mc - DBCPConnectionPool</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Database Connection URL</key>
                    <value>jdbc:mysql://192.168.21.175:3306/dwh_mc?useSSL=true&amp;requireSSL=true&amp;verifyServerCertificate=false&amp;allowPublicKeyRetrieval=true&amp;user=srv_arq&amp;password=hellodwh@solidy</value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>com.mysql.cj.jdbc.Driver</value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>C:\NiFi\lib\mysql-connector-j-8.0.32.jar</value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>srv_arq</value>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>500 millis</value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>0</value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>30 mins</value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>-1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <controllerServices>
            <id>b4a3a43a-1e3d-3cfa-0000-000000000000</id>
            <parentGroupId>dce64f36-e0b8-332f-0000-000000000000</parentGroupId>
            <versionedComponentId>b4a3a43a-1e3d-3cfa-adff-d2fabfb70c45</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.21.0</version>
            </bundle>
            <descriptors>
                <entry>
                    <key>max-cache-size</key>
                    <value>
                        <name>max-cache-size</name>
                    </value>
                </entry>
            </descriptors>
            <name>VolatileSchemaCache</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>max-cache-size</key>
                    <value>100</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.schema.inference.VolatileSchemaCache</type>
        </controllerServices>
        <controllerServices>
            <id>cadf3836-09f0-3113-0000-000000000000</id>
            <parentGroupId>dce64f36-e0b8-332f-0000-000000000000</parentGroupId>
            <versionedComponentId>cadf3836-09f0-3113-9108-bc880cb85562</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.21.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                    <value>
                        <dependencies>
                            <dependentValues>infer-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-inference-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>starting-field-strategy</key>
                    <value>
                        <name>starting-field-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>starting-field-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>NESTED_FIELD</dependentValues>
                            <propertyName>starting-field-strategy</propertyName>
                        </dependencies>
                        <name>starting-field-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-application-strategy</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>schema-text-property</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <dependencies>
                            <dependentValues>NESTED_FIELD</dependentValues>
                            <propertyName>starting-field-strategy</propertyName>
                        </dependencies>
                        <name>schema-application-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonTreeReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>infer-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                    <value>b4a3a43a-1e3d-3cfa-0000-000000000000</value>
                </entry>
                <entry>
                    <key>starting-field-strategy</key>
                    <value>ROOT_NODE</value>
                </entry>
                <entry>
                    <key>starting-field-name</key>
                </entry>
                <entry>
                    <key>schema-application-strategy</key>
                    <value>SELECTED_PART</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonTreeReader</type>
        </controllerServices>
        <controllerServices>
            <id>dcfbc64f-2206-3637-0000-000000000000</id>
            <parentGroupId>dce64f36-e0b8-332f-0000-000000000000</parentGroupId>
            <versionedComponentId>dcfbc64f-2206-3637-8c74-a16e67fda4e7</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-dbcp-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.21.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Database Connection URL</key>
                    <value>
                        <name>Database Connection URL</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>
                        <name>Database Driver Class Name</name>
                    </value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>
                        <name>database-driver-locations</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
                        <name>kerberos-user-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                    <value>
                        <name>kerberos-principal</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                    <value>
                        <name>kerberos-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>
                        <name>Database User</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>
                        <name>Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>
                        <name>Max Total Connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>
                        <name>dbcp-min-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>
                        <name>dbcp-max-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>
                        <name>dbcp-max-conn-lifetime</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>
                        <name>dbcp-time-between-eviction-runs</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-soft-min-evictable-idle-time</name>
                    </value>
                </entry>
            </descriptors>
            <name>dwh_np - DBCPConnectionPool</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Database Connection URL</key>
                    <value>jdbc:mysql://192.168.21.175:3306/dwh_np?useSSL=true&amp;requireSSL=true&amp;verifyServerCertificate=false&amp;allowPublicKeyRetrieval=true&amp;user=srv_arq&amp;password=hellodwh@solidy</value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>com.mysql.cj.jdbc.Driver</value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>C:\NiFi\lib\mysql-connector-j-8.0.32.jar</value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>srv_arq</value>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>500 millis</value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>0</value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>30 mins</value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>-1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <processGroups>
            <id>c6855bcb-caff-33dd-0000-000000000000</id>
            <parentGroupId>dce64f36-e0b8-332f-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>c6855bcb-caff-33dd-8021-abb9cbbf10e2</versionedComponentId>
            <comments></comments>
            <contents>
                <processGroups>
                    <id>02f3e314-91ec-370a-0000-000000000000</id>
                    <parentGroupId>c6855bcb-caff-33dd-0000-000000000000</parentGroupId>
                    <position>
                        <x>136.0</x>
                        <y>288.0</y>
                    </position>
                    <versionedComponentId>02f3e314-91ec-370a-8a1b-9ec430084e31</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>3c06fe24-3ae5-3321-0000-000000000000</id>
                            <parentGroupId>02f3e314-91ec-370a-0000-000000000000</parentGroupId>
                            <versionedComponentId>3c06fe24-3ae5-3321-87a7-b4d8486a49a4</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>02f3e314-91ec-370a-0000-000000000000</groupId>
<id>cfd9ae87-645f-301b-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>cfd9ae87-645f-301b-a937-b0e3bdbf41c1</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>02f3e314-91ec-370a-0000-000000000000</groupId>
<id>0177bb02-f14c-3bea-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>0177bb02-f14c-3bea-a443-c5035d25195c</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>725eb4c6-d06b-3c60-0000-000000000000</id>
                            <parentGroupId>02f3e314-91ec-370a-0000-000000000000</parentGroupId>
                            <versionedComponentId>725eb4c6-d06b-3c60-8f7f-8bc499e70f33</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>02f3e314-91ec-370a-0000-000000000000</groupId>
<id>d300fbc2-5680-356c-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>d300fbc2-5680-356c-b3ee-0f9a71c244f9</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>02f3e314-91ec-370a-0000-000000000000</groupId>
<id>0177bb02-f14c-3bea-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>0177bb02-f14c-3bea-a443-c5035d25195c</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>c53f8767-77ab-3fe2-0000-000000000000</id>
                            <parentGroupId>02f3e314-91ec-370a-0000-000000000000</parentGroupId>
                            <versionedComponentId>c53f8767-77ab-3fe2-8892-f3a586d1f4cc</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>02f3e314-91ec-370a-0000-000000000000</groupId>
<id>7bbef999-7d46-3d7f-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>7bbef999-7d46-3d7f-8587-f01847b9a823</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>02f3e314-91ec-370a-0000-000000000000</groupId>
<id>0177bb02-f14c-3bea-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>0177bb02-f14c-3bea-a443-c5035d25195c</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>c72d25ae-19b6-3ec5-0000-000000000000</id>
                            <parentGroupId>02f3e314-91ec-370a-0000-000000000000</parentGroupId>
                            <versionedComponentId>c72d25ae-19b6-3ec5-b9d7-265cf6b41308</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>02f3e314-91ec-370a-0000-000000000000</groupId>
<id>0177bb02-f14c-3bea-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>0177bb02-f14c-3bea-a443-c5035d25195c</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>02f3e314-91ec-370a-0000-000000000000</groupId>
<id>bd68b397-1d74-3dec-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>bd68b397-1d74-3dec-92bb-4af1b72ea1e9</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <processors>
                            <id>0177bb02-f14c-3bea-0000-000000000000</id>
                            <parentGroupId>02f3e314-91ec-370a-0000-000000000000</parentGroupId>
                            <position>
<x>400.0</x>
<y>320.0</y>
                            </position>
                            <versionedComponentId>0177bb02-f14c-3bea-a443-c5035d25195c</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.21.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>put-db-record-record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>put-db-record-record-reader</name>
        </value>
    </entry>
    <entry>
        <key>db-type</key>
        <value>
            <name>db-type</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-statement-type</key>
        <value>
            <name>put-db-record-statement-type</name>
        </value>
    </entry>
    <entry>
        <key>Statement Type Record Path</key>
        <value>
            <dependencies>
                <dependentValues>Use Record Path</dependentValues>
                <propertyName>put-db-record-statement-type</propertyName>
            </dependencies>
            <name>Statement Type Record Path</name>
        </value>
    </entry>
    <entry>
        <key>Data Record Path</key>
        <value>
            <name>Data Record Path</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-dcbp-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>put-db-record-dcbp-service</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-catalog-name</key>
        <value>
            <name>put-db-record-catalog-name</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-schema-name</key>
        <value>
            <name>put-db-record-schema-name</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-table-name</key>
        <value>
            <name>put-db-record-table-name</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-translate-field-names</key>
        <value>
            <name>put-db-record-translate-field-names</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-unmatched-field-behavior</key>
        <value>
            <name>put-db-record-unmatched-field-behavior</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-unmatched-column-behavior</key>
        <value>
            <name>put-db-record-unmatched-column-behavior</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-update-keys</key>
        <value>
            <dependencies>
                <dependentValues>Use statement.type Attribute</dependentValues>
                <dependentValues>Use Record Path</dependentValues>
                <dependentValues>UPSERT</dependentValues>
                <dependentValues>UPDATE</dependentValues>
                <dependentValues>SQL</dependentValues>
                <propertyName>put-db-record-statement-type</propertyName>
            </dependencies>
            <name>put-db-record-update-keys</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-field-containing-sql</key>
        <value>
            <dependencies>
                <dependentValues>Use statement.type Attribute</dependentValues>
                <dependentValues>Use Record Path</dependentValues>
                <propertyName>put-db-record-statement-type</propertyName>
            </dependencies>
            <name>put-db-record-field-containing-sql</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-allow-multiple-statements</key>
        <value>
            <dependencies>
                <dependentValues>Use statement.type Attribute</dependentValues>
                <dependentValues>Use Record Path</dependentValues>
                <propertyName>put-db-record-statement-type</propertyName>
            </dependencies>
            <name>put-db-record-allow-multiple-statements</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-quoted-identifiers</key>
        <value>
            <name>put-db-record-quoted-identifiers</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-quoted-table-identifiers</key>
        <value>
            <name>put-db-record-quoted-table-identifiers</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-query-timeout</key>
        <value>
            <name>put-db-record-query-timeout</name>
        </value>
    </entry>
    <entry>
        <key>rollback-on-failure</key>
        <value>
            <name>rollback-on-failure</name>
        </value>
    </entry>
    <entry>
        <key>table-schema-cache-size</key>
        <value>
            <name>table-schema-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-max-batch-size</key>
        <value>
            <name>put-db-record-max-batch-size</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>put-db-record-record-reader</key>
        <value>cadf3836-09f0-3113-0000-000000000000</value>
    </entry>
    <entry>
        <key>db-type</key>
        <value>MySQL</value>
    </entry>
    <entry>
        <key>put-db-record-statement-type</key>
        <value>UPSERT</value>
    </entry>
    <entry>
        <key>Statement Type Record Path</key>
    </entry>
    <entry>
        <key>Data Record Path</key>
    </entry>
    <entry>
        <key>put-db-record-dcbp-service</key>
        <value>dcfbc64f-2206-3637-0000-000000000000</value>
    </entry>
    <entry>
        <key>put-db-record-catalog-name</key>
    </entry>
    <entry>
        <key>put-db-record-schema-name</key>
    </entry>
    <entry>
        <key>put-db-record-table-name</key>
        <value>wa_assistencia_np</value>
    </entry>
    <entry>
        <key>put-db-record-translate-field-names</key>
        <value>true</value>
    </entry>
    <entry>
        <key>put-db-record-unmatched-field-behavior</key>
        <value>Ignore Unmatched Fields</value>
    </entry>
    <entry>
        <key>put-db-record-unmatched-column-behavior</key>
        <value>Fail on Unmatched Columns</value>
    </entry>
    <entry>
        <key>put-db-record-update-keys</key>
    </entry>
    <entry>
        <key>put-db-record-field-containing-sql</key>
    </entry>
    <entry>
        <key>put-db-record-allow-multiple-statements</key>
        <value>false</value>
    </entry>
    <entry>
        <key>put-db-record-quoted-identifiers</key>
        <value>false</value>
    </entry>
    <entry>
        <key>put-db-record-quoted-table-identifiers</key>
        <value>false</value>
    </entry>
    <entry>
        <key>put-db-record-query-timeout</key>
        <value>0 seconds</value>
    </entry>
    <entry>
        <key>rollback-on-failure</key>
        <value>false</value>
    </entry>
    <entry>
        <key>table-schema-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>put-db-record-max-batch-size</key>
        <value>1000</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutDatabaseRecord</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>retry</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>RUNNING</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#0466c8</value>
</entry>
                            </style>
                            <type>org.apache.nifi.processors.standard.PutDatabaseRecord</type>
                        </processors>
                        <processors>
                            <id>7bbef999-7d46-3d7f-0000-000000000000</id>
                            <parentGroupId>02f3e314-91ec-370a-0000-000000000000</parentGroupId>
                            <position>
<x>280.0</x>
<y>560.0</y>
                            </position>
                            <versionedComponentId>7bbef999-7d46-3d7f-8587-f01847b9a823</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.21.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Directory</key>
        <value>
            <name>Directory</name>
        </value>
    </entry>
    <entry>
        <key>Conflict Resolution Strategy</key>
        <value>
            <name>Conflict Resolution Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Create Missing Directories</key>
        <value>
            <name>Create Missing Directories</name>
        </value>
    </entry>
    <entry>
        <key>Maximum File Count</key>
        <value>
            <name>Maximum File Count</name>
        </value>
    </entry>
    <entry>
        <key>Last Modified Time</key>
        <value>
            <name>Last Modified Time</name>
        </value>
    </entry>
    <entry>
        <key>Permissions</key>
        <value>
            <name>Permissions</name>
        </value>
    </entry>
    <entry>
        <key>Owner</key>
        <value>
            <name>Owner</name>
        </value>
    </entry>
    <entry>
        <key>Group</key>
        <value>
            <name>Group</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Directory</key>
        <value>C:\Users\Administrador\ARQUIVOS\WEBASSIST\NiFi</value>
    </entry>
    <entry>
        <key>Conflict Resolution Strategy</key>
        <value>replace</value>
    </entry>
    <entry>
        <key>Create Missing Directories</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Maximum File Count</key>
    </entry>
    <entry>
        <key>Last Modified Time</key>
    </entry>
    <entry>
        <key>Permissions</key>
    </entry>
    <entry>
        <key>Owner</key>
    </entry>
    <entry>
        <key>Group</key>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutFile Sucess</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>RUNNING</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#0466c8</value>
</entry>
                            </style>
                            <type>org.apache.nifi.processors.standard.PutFile</type>
                        </processors>
                        <processors>
                            <id>bd68b397-1d74-3dec-0000-000000000000</id>
                            <parentGroupId>02f3e314-91ec-370a-0000-000000000000</parentGroupId>
                            <position>
<x>514.0000025123284</x>
<y>87.00000942283651</y>
                            </position>
                            <versionedComponentId>bd68b397-1d74-3dec-92bb-4af1b72ea1e9</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.21.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Input Directory</key>
        <value>
            <name>Input Directory</name>
        </value>
    </entry>
    <entry>
        <key>File Filter</key>
        <value>
            <name>File Filter</name>
        </value>
    </entry>
    <entry>
        <key>Path Filter</key>
        <value>
            <name>Path Filter</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Keep Source File</key>
        <value>
            <name>Keep Source File</name>
        </value>
    </entry>
    <entry>
        <key>Recurse Subdirectories</key>
        <value>
            <name>Recurse Subdirectories</name>
        </value>
    </entry>
    <entry>
        <key>Polling Interval</key>
        <value>
            <name>Polling Interval</name>
        </value>
    </entry>
    <entry>
        <key>Ignore Hidden Files</key>
        <value>
            <name>Ignore Hidden Files</name>
        </value>
    </entry>
    <entry>
        <key>Minimum File Age</key>
        <value>
            <name>Minimum File Age</name>
        </value>
    </entry>
    <entry>
        <key>Maximum File Age</key>
        <value>
            <name>Maximum File Age</name>
        </value>
    </entry>
    <entry>
        <key>Minimum File Size</key>
        <value>
            <name>Minimum File Size</name>
        </value>
    </entry>
    <entry>
        <key>Maximum File Size</key>
        <value>
            <name>Maximum File Size</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Input Directory</key>
        <value>C:\Users\Administrador\ARQUIVOS\WEBASSIST</value>
    </entry>
    <entry>
        <key>File Filter</key>
        <value>relatorio_de_atendimento completo NOVA PROTECAO.json</value>
    </entry>
    <entry>
        <key>Path Filter</key>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>10</value>
    </entry>
    <entry>
        <key>Keep Source File</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Recurse Subdirectories</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Polling Interval</key>
        <value>0 sec</value>
    </entry>
    <entry>
        <key>Ignore Hidden Files</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Minimum File Age</key>
        <value>0 sec</value>
    </entry>
    <entry>
        <key>Maximum File Age</key>
    </entry>
    <entry>
        <key>Minimum File Size</key>
        <value>0 B</value>
    </entry>
    <entry>
        <key>Maximum File Size</key>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>GetFile</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>RUNNING</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#0466c8</value>
</entry>
                            </style>
                            <type>org.apache.nifi.processors.standard.GetFile</type>
                        </processors>
                        <processors>
                            <id>cfd9ae87-645f-301b-0000-000000000000</id>
                            <parentGroupId>02f3e314-91ec-370a-0000-000000000000</parentGroupId>
                            <position>
<x>816.0</x>
<y>592.0</y>
                            </position>
                            <versionedComponentId>cfd9ae87-645f-301b-a937-b0e3bdbf41c1</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.21.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Directory</key>
        <value>
            <name>Directory</name>
        </value>
    </entry>
    <entry>
        <key>Conflict Resolution Strategy</key>
        <value>
            <name>Conflict Resolution Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Create Missing Directories</key>
        <value>
            <name>Create Missing Directories</name>
        </value>
    </entry>
    <entry>
        <key>Maximum File Count</key>
        <value>
            <name>Maximum File Count</name>
        </value>
    </entry>
    <entry>
        <key>Last Modified Time</key>
        <value>
            <name>Last Modified Time</name>
        </value>
    </entry>
    <entry>
        <key>Permissions</key>
        <value>
            <name>Permissions</name>
        </value>
    </entry>
    <entry>
        <key>Owner</key>
        <value>
            <name>Owner</name>
        </value>
    </entry>
    <entry>
        <key>Group</key>
        <value>
            <name>Group</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Directory</key>
        <value>C:\Users\Administrador\ARQUIVOS\WEBASSIST</value>
    </entry>
    <entry>
        <key>Conflict Resolution Strategy</key>
        <value>fail</value>
    </entry>
    <entry>
        <key>Create Missing Directories</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Maximum File Count</key>
    </entry>
    <entry>
        <key>Last Modified Time</key>
    </entry>
    <entry>
        <key>Permissions</key>
    </entry>
    <entry>
        <key>Owner</key>
    </entry>
    <entry>
        <key>Group</key>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutFile Failure</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>RUNNING</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#0466c8</value>
</entry>
                            </style>
                            <type>org.apache.nifi.processors.standard.PutFile</type>
                        </processors>
                        <processors>
                            <id>d300fbc2-5680-356c-0000-000000000000</id>
                            <parentGroupId>02f3e314-91ec-370a-0000-000000000000</parentGroupId>
                            <position>
<x>976.0</x>
<y>376.0</y>
                            </position>
                            <versionedComponentId>d300fbc2-5680-356c-b3ee-0f9a71c244f9</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.21.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Directory</key>
        <value>
            <name>Directory</name>
        </value>
    </entry>
    <entry>
        <key>Conflict Resolution Strategy</key>
        <value>
            <name>Conflict Resolution Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Create Missing Directories</key>
        <value>
            <name>Create Missing Directories</name>
        </value>
    </entry>
    <entry>
        <key>Maximum File Count</key>
        <value>
            <name>Maximum File Count</name>
        </value>
    </entry>
    <entry>
        <key>Last Modified Time</key>
        <value>
            <name>Last Modified Time</name>
        </value>
    </entry>
    <entry>
        <key>Permissions</key>
        <value>
            <name>Permissions</name>
        </value>
    </entry>
    <entry>
        <key>Owner</key>
        <value>
            <name>Owner</name>
        </value>
    </entry>
    <entry>
        <key>Group</key>
        <value>
            <name>Group</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Directory</key>
        <value>C:\Users\Administrador\ARQUIVOS\WEBASSIST</value>
    </entry>
    <entry>
        <key>Conflict Resolution Strategy</key>
        <value>fail</value>
    </entry>
    <entry>
        <key>Create Missing Directories</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Maximum File Count</key>
    </entry>
    <entry>
        <key>Last Modified Time</key>
    </entry>
    <entry>
        <key>Permissions</key>
    </entry>
    <entry>
        <key>Owner</key>
    </entry>
    <entry>
        <key>Group</key>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutFile Failure</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>RUNNING</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#0466c8</value>
</entry>
                            </style>
                            <type>org.apache.nifi.processors.standard.PutFile</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>WEBASSIST - NOVA PROTEO</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>3d7b2637-e303-3a4b-0000-000000000000</id>
                    <parentGroupId>c6855bcb-caff-33dd-0000-000000000000</parentGroupId>
                    <position>
                        <x>552.0</x>
                        <y>80.0</y>
                    </position>
                    <versionedComponentId>3d7b2637-e303-3a4b-9fe4-57f5df8c3a4d</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>281020ee-b962-391b-0000-000000000000</id>
                            <parentGroupId>3d7b2637-e303-3a4b-0000-000000000000</parentGroupId>
                            <versionedComponentId>281020ee-b962-391b-8597-7e6b275d16c3</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>3d7b2637-e303-3a4b-0000-000000000000</groupId>
<id>5fc4b4af-1314-37c3-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>5fc4b4af-1314-37c3-bccd-d4d8fab9c2df</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>3d7b2637-e303-3a4b-0000-000000000000</groupId>
<id>169ce29c-f03c-307f-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>169ce29c-f03c-307f-966c-41ada69845a0</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>4559d8ed-9d27-3dea-0000-000000000000</id>
                            <parentGroupId>3d7b2637-e303-3a4b-0000-000000000000</parentGroupId>
                            <versionedComponentId>4559d8ed-9d27-3dea-b3a1-c3cc9e4c4123</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>3d7b2637-e303-3a4b-0000-000000000000</groupId>
<id>b7d5b099-3d19-33a1-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>b7d5b099-3d19-33a1-8926-be10b5fa42c3</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>3d7b2637-e303-3a4b-0000-000000000000</groupId>
<id>169ce29c-f03c-307f-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>169ce29c-f03c-307f-966c-41ada69845a0</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>73c38b75-5273-35b2-0000-000000000000</id>
                            <parentGroupId>3d7b2637-e303-3a4b-0000-000000000000</parentGroupId>
                            <versionedComponentId>73c38b75-5273-35b2-9ee4-937f2d4e750f</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>3d7b2637-e303-3a4b-0000-000000000000</groupId>
<id>8f3257c5-deb6-3d56-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>8f3257c5-deb6-3d56-8370-ca43f7a3dddb</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>3d7b2637-e303-3a4b-0000-000000000000</groupId>
<id>169ce29c-f03c-307f-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>169ce29c-f03c-307f-966c-41ada69845a0</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>94ef6be6-f3e4-3e4d-0000-000000000000</id>
                            <parentGroupId>3d7b2637-e303-3a4b-0000-000000000000</parentGroupId>
                            <versionedComponentId>94ef6be6-f3e4-3e4d-a45f-d537bf5b7b4e</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>3d7b2637-e303-3a4b-0000-000000000000</groupId>
<id>169ce29c-f03c-307f-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>169ce29c-f03c-307f-966c-41ada69845a0</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>3d7b2637-e303-3a4b-0000-000000000000</groupId>
<id>92d23c15-9e4f-3f17-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>92d23c15-9e4f-3f17-bd3e-aeb0a2d65327</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <processors>
                            <id>169ce29c-f03c-307f-0000-000000000000</id>
                            <parentGroupId>3d7b2637-e303-3a4b-0000-000000000000</parentGroupId>
                            <position>
<x>400.0</x>
<y>320.0</y>
                            </position>
                            <versionedComponentId>169ce29c-f03c-307f-966c-41ada69845a0</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.21.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>put-db-record-record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>put-db-record-record-reader</name>
        </value>
    </entry>
    <entry>
        <key>db-type</key>
        <value>
            <name>db-type</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-statement-type</key>
        <value>
            <name>put-db-record-statement-type</name>
        </value>
    </entry>
    <entry>
        <key>Statement Type Record Path</key>
        <value>
            <dependencies>
                <dependentValues>Use Record Path</dependentValues>
                <propertyName>put-db-record-statement-type</propertyName>
            </dependencies>
            <name>Statement Type Record Path</name>
        </value>
    </entry>
    <entry>
        <key>Data Record Path</key>
        <value>
            <name>Data Record Path</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-dcbp-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>put-db-record-dcbp-service</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-catalog-name</key>
        <value>
            <name>put-db-record-catalog-name</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-schema-name</key>
        <value>
            <name>put-db-record-schema-name</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-table-name</key>
        <value>
            <name>put-db-record-table-name</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-translate-field-names</key>
        <value>
            <name>put-db-record-translate-field-names</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-unmatched-field-behavior</key>
        <value>
            <name>put-db-record-unmatched-field-behavior</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-unmatched-column-behavior</key>
        <value>
            <name>put-db-record-unmatched-column-behavior</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-update-keys</key>
        <value>
            <dependencies>
                <dependentValues>Use statement.type Attribute</dependentValues>
                <dependentValues>Use Record Path</dependentValues>
                <dependentValues>UPSERT</dependentValues>
                <dependentValues>UPDATE</dependentValues>
                <dependentValues>SQL</dependentValues>
                <propertyName>put-db-record-statement-type</propertyName>
            </dependencies>
            <name>put-db-record-update-keys</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-field-containing-sql</key>
        <value>
            <dependencies>
                <dependentValues>Use statement.type Attribute</dependentValues>
                <dependentValues>Use Record Path</dependentValues>
                <propertyName>put-db-record-statement-type</propertyName>
            </dependencies>
            <name>put-db-record-field-containing-sql</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-allow-multiple-statements</key>
        <value>
            <dependencies>
                <dependentValues>Use statement.type Attribute</dependentValues>
                <dependentValues>Use Record Path</dependentValues>
                <propertyName>put-db-record-statement-type</propertyName>
            </dependencies>
            <name>put-db-record-allow-multiple-statements</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-quoted-identifiers</key>
        <value>
            <name>put-db-record-quoted-identifiers</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-quoted-table-identifiers</key>
        <value>
            <name>put-db-record-quoted-table-identifiers</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-query-timeout</key>
        <value>
            <name>put-db-record-query-timeout</name>
        </value>
    </entry>
    <entry>
        <key>rollback-on-failure</key>
        <value>
            <name>rollback-on-failure</name>
        </value>
    </entry>
    <entry>
        <key>table-schema-cache-size</key>
        <value>
            <name>table-schema-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-max-batch-size</key>
        <value>
            <name>put-db-record-max-batch-size</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>put-db-record-record-reader</key>
        <value>cadf3836-09f0-3113-0000-000000000000</value>
    </entry>
    <entry>
        <key>db-type</key>
        <value>MySQL</value>
    </entry>
    <entry>
        <key>put-db-record-statement-type</key>
        <value>UPSERT</value>
    </entry>
    <entry>
        <key>Statement Type Record Path</key>
    </entry>
    <entry>
        <key>Data Record Path</key>
    </entry>
    <entry>
        <key>put-db-record-dcbp-service</key>
        <value>6d9433c0-3879-3cbf-0000-000000000000</value>
    </entry>
    <entry>
        <key>put-db-record-catalog-name</key>
    </entry>
    <entry>
        <key>put-db-record-schema-name</key>
    </entry>
    <entry>
        <key>put-db-record-table-name</key>
        <value>wa_assistencia_mc</value>
    </entry>
    <entry>
        <key>put-db-record-translate-field-names</key>
        <value>true</value>
    </entry>
    <entry>
        <key>put-db-record-unmatched-field-behavior</key>
        <value>Ignore Unmatched Fields</value>
    </entry>
    <entry>
        <key>put-db-record-unmatched-column-behavior</key>
        <value>Fail on Unmatched Columns</value>
    </entry>
    <entry>
        <key>put-db-record-update-keys</key>
    </entry>
    <entry>
        <key>put-db-record-field-containing-sql</key>
    </entry>
    <entry>
        <key>put-db-record-allow-multiple-statements</key>
        <value>false</value>
    </entry>
    <entry>
        <key>put-db-record-quoted-identifiers</key>
        <value>false</value>
    </entry>
    <entry>
        <key>put-db-record-quoted-table-identifiers</key>
        <value>false</value>
    </entry>
    <entry>
        <key>put-db-record-query-timeout</key>
        <value>0 seconds</value>
    </entry>
    <entry>
        <key>rollback-on-failure</key>
        <value>false</value>
    </entry>
    <entry>
        <key>table-schema-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>put-db-record-max-batch-size</key>
        <value>1000</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutDatabaseRecord</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>retry</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>RUNNING</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#e63946</value>
</entry>
                            </style>
                            <type>org.apache.nifi.processors.standard.PutDatabaseRecord</type>
                        </processors>
                        <processors>
                            <id>5fc4b4af-1314-37c3-0000-000000000000</id>
                            <parentGroupId>3d7b2637-e303-3a4b-0000-000000000000</parentGroupId>
                            <position>
<x>976.0</x>
<y>376.0</y>
                            </position>
                            <versionedComponentId>5fc4b4af-1314-37c3-bccd-d4d8fab9c2df</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.21.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Directory</key>
        <value>
            <name>Directory</name>
        </value>
    </entry>
    <entry>
        <key>Conflict Resolution Strategy</key>
        <value>
            <name>Conflict Resolution Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Create Missing Directories</key>
        <value>
            <name>Create Missing Directories</name>
        </value>
    </entry>
    <entry>
        <key>Maximum File Count</key>
        <value>
            <name>Maximum File Count</name>
        </value>
    </entry>
    <entry>
        <key>Last Modified Time</key>
        <value>
            <name>Last Modified Time</name>
        </value>
    </entry>
    <entry>
        <key>Permissions</key>
        <value>
            <name>Permissions</name>
        </value>
    </entry>
    <entry>
        <key>Owner</key>
        <value>
            <name>Owner</name>
        </value>
    </entry>
    <entry>
        <key>Group</key>
        <value>
            <name>Group</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Directory</key>
        <value>C:\Users\Administrador\ARQUIVOS\WEBASSIST</value>
    </entry>
    <entry>
        <key>Conflict Resolution Strategy</key>
        <value>fail</value>
    </entry>
    <entry>
        <key>Create Missing Directories</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Maximum File Count</key>
    </entry>
    <entry>
        <key>Last Modified Time</key>
    </entry>
    <entry>
        <key>Permissions</key>
    </entry>
    <entry>
        <key>Owner</key>
    </entry>
    <entry>
        <key>Group</key>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutFile Failure</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>RUNNING</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#e63946</value>
</entry>
                            </style>
                            <type>org.apache.nifi.processors.standard.PutFile</type>
                        </processors>
                        <processors>
                            <id>8f3257c5-deb6-3d56-0000-000000000000</id>
                            <parentGroupId>3d7b2637-e303-3a4b-0000-000000000000</parentGroupId>
                            <position>
<x>280.0</x>
<y>560.0</y>
                            </position>
                            <versionedComponentId>8f3257c5-deb6-3d56-8370-ca43f7a3dddb</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.21.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Directory</key>
        <value>
            <name>Directory</name>
        </value>
    </entry>
    <entry>
        <key>Conflict Resolution Strategy</key>
        <value>
            <name>Conflict Resolution Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Create Missing Directories</key>
        <value>
            <name>Create Missing Directories</name>
        </value>
    </entry>
    <entry>
        <key>Maximum File Count</key>
        <value>
            <name>Maximum File Count</name>
        </value>
    </entry>
    <entry>
        <key>Last Modified Time</key>
        <value>
            <name>Last Modified Time</name>
        </value>
    </entry>
    <entry>
        <key>Permissions</key>
        <value>
            <name>Permissions</name>
        </value>
    </entry>
    <entry>
        <key>Owner</key>
        <value>
            <name>Owner</name>
        </value>
    </entry>
    <entry>
        <key>Group</key>
        <value>
            <name>Group</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Directory</key>
        <value>C:\Users\Administrador\ARQUIVOS\WEBASSIST\NiFi</value>
    </entry>
    <entry>
        <key>Conflict Resolution Strategy</key>
        <value>replace</value>
    </entry>
    <entry>
        <key>Create Missing Directories</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Maximum File Count</key>
    </entry>
    <entry>
        <key>Last Modified Time</key>
    </entry>
    <entry>
        <key>Permissions</key>
    </entry>
    <entry>
        <key>Owner</key>
    </entry>
    <entry>
        <key>Group</key>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutFile Sucess</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>RUNNING</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#e63946</value>
</entry>
                            </style>
                            <type>org.apache.nifi.processors.standard.PutFile</type>
                        </processors>
                        <processors>
                            <id>92d23c15-9e4f-3f17-0000-000000000000</id>
                            <parentGroupId>3d7b2637-e303-3a4b-0000-000000000000</parentGroupId>
                            <position>
<x>514.0000025123284</x>
<y>87.00000942283651</y>
                            </position>
                            <versionedComponentId>92d23c15-9e4f-3f17-bd3e-aeb0a2d65327</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.21.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Input Directory</key>
        <value>
            <name>Input Directory</name>
        </value>
    </entry>
    <entry>
        <key>File Filter</key>
        <value>
            <name>File Filter</name>
        </value>
    </entry>
    <entry>
        <key>Path Filter</key>
        <value>
            <name>Path Filter</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Keep Source File</key>
        <value>
            <name>Keep Source File</name>
        </value>
    </entry>
    <entry>
        <key>Recurse Subdirectories</key>
        <value>
            <name>Recurse Subdirectories</name>
        </value>
    </entry>
    <entry>
        <key>Polling Interval</key>
        <value>
            <name>Polling Interval</name>
        </value>
    </entry>
    <entry>
        <key>Ignore Hidden Files</key>
        <value>
            <name>Ignore Hidden Files</name>
        </value>
    </entry>
    <entry>
        <key>Minimum File Age</key>
        <value>
            <name>Minimum File Age</name>
        </value>
    </entry>
    <entry>
        <key>Maximum File Age</key>
        <value>
            <name>Maximum File Age</name>
        </value>
    </entry>
    <entry>
        <key>Minimum File Size</key>
        <value>
            <name>Minimum File Size</name>
        </value>
    </entry>
    <entry>
        <key>Maximum File Size</key>
        <value>
            <name>Maximum File Size</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Input Directory</key>
        <value>C:\Users\Administrador\ARQUIVOS\WEBASSIST</value>
    </entry>
    <entry>
        <key>File Filter</key>
        <value>relatorio_de_atendimento completo MOTO CLUBE.json</value>
    </entry>
    <entry>
        <key>Path Filter</key>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>10</value>
    </entry>
    <entry>
        <key>Keep Source File</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Recurse Subdirectories</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Polling Interval</key>
        <value>0 sec</value>
    </entry>
    <entry>
        <key>Ignore Hidden Files</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Minimum File Age</key>
        <value>0 sec</value>
    </entry>
    <entry>
        <key>Maximum File Age</key>
    </entry>
    <entry>
        <key>Minimum File Size</key>
        <value>0 B</value>
    </entry>
    <entry>
        <key>Maximum File Size</key>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>GetFile</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>RUNNING</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#e63946</value>
</entry>
                            </style>
                            <type>org.apache.nifi.processors.standard.GetFile</type>
                        </processors>
                        <processors>
                            <id>b7d5b099-3d19-33a1-0000-000000000000</id>
                            <parentGroupId>3d7b2637-e303-3a4b-0000-000000000000</parentGroupId>
                            <position>
<x>816.0</x>
<y>592.0</y>
                            </position>
                            <versionedComponentId>b7d5b099-3d19-33a1-8926-be10b5fa42c3</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.21.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Directory</key>
        <value>
            <name>Directory</name>
        </value>
    </entry>
    <entry>
        <key>Conflict Resolution Strategy</key>
        <value>
            <name>Conflict Resolution Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Create Missing Directories</key>
        <value>
            <name>Create Missing Directories</name>
        </value>
    </entry>
    <entry>
        <key>Maximum File Count</key>
        <value>
            <name>Maximum File Count</name>
        </value>
    </entry>
    <entry>
        <key>Last Modified Time</key>
        <value>
            <name>Last Modified Time</name>
        </value>
    </entry>
    <entry>
        <key>Permissions</key>
        <value>
            <name>Permissions</name>
        </value>
    </entry>
    <entry>
        <key>Owner</key>
        <value>
            <name>Owner</name>
        </value>
    </entry>
    <entry>
        <key>Group</key>
        <value>
            <name>Group</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Directory</key>
        <value>C:\Users\Administrador\ARQUIVOS\WEBASSIST</value>
    </entry>
    <entry>
        <key>Conflict Resolution Strategy</key>
        <value>fail</value>
    </entry>
    <entry>
        <key>Create Missing Directories</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Maximum File Count</key>
    </entry>
    <entry>
        <key>Last Modified Time</key>
    </entry>
    <entry>
        <key>Permissions</key>
    </entry>
    <entry>
        <key>Owner</key>
    </entry>
    <entry>
        <key>Group</key>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutFile Failure</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>RUNNING</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#e63946</value>
</entry>
                            </style>
                            <type>org.apache.nifi.processors.standard.PutFile</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>WEBASSIST - MOTO CLUBE</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>9a0518ff-0169-3efe-0000-000000000000</id>
                    <parentGroupId>c6855bcb-caff-33dd-0000-000000000000</parentGroupId>
                    <position>
                        <x>136.0</x>
                        <y>80.0</y>
                    </position>
                    <versionedComponentId>9a0518ff-0169-3efe-bd9f-d8cfa125fe1c</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>5a38c3e0-8883-33f7-0000-000000000000</id>
                            <parentGroupId>9a0518ff-0169-3efe-0000-000000000000</parentGroupId>
                            <versionedComponentId>5a38c3e0-8883-33f7-86d2-e52969a59e52</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>9a0518ff-0169-3efe-0000-000000000000</groupId>
<id>fecfb066-ea51-3f50-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>fecfb066-ea51-3f50-9903-d4b5b1da10b1</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>9a0518ff-0169-3efe-0000-000000000000</groupId>
<id>1c4375e3-1a1c-30f6-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>1c4375e3-1a1c-30f6-8c6e-6461d357b6b3</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>5e2c43f3-433b-3a62-0000-000000000000</id>
                            <parentGroupId>9a0518ff-0169-3efe-0000-000000000000</parentGroupId>
                            <versionedComponentId>5e2c43f3-433b-3a62-857e-8b5a866527fd</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>9a0518ff-0169-3efe-0000-000000000000</groupId>
<id>17a9e016-a796-346f-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>17a9e016-a796-346f-b77b-6651152ad706</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>9a0518ff-0169-3efe-0000-000000000000</groupId>
<id>fecfb066-ea51-3f50-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>fecfb066-ea51-3f50-9903-d4b5b1da10b1</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>8ca383c3-710d-394f-0000-000000000000</id>
                            <parentGroupId>9a0518ff-0169-3efe-0000-000000000000</parentGroupId>
                            <versionedComponentId>8ca383c3-710d-394f-9c13-c2d81b0c86f5</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>9a0518ff-0169-3efe-0000-000000000000</groupId>
<id>28a84901-740a-3b4e-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>28a84901-740a-3b4e-b106-2a2474b048e2</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>9a0518ff-0169-3efe-0000-000000000000</groupId>
<id>fecfb066-ea51-3f50-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>fecfb066-ea51-3f50-9903-d4b5b1da10b1</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <processors>
                            <id>17a9e016-a796-346f-0000-000000000000</id>
                            <parentGroupId>9a0518ff-0169-3efe-0000-000000000000</parentGroupId>
                            <position>
<x>280.0</x>
<y>560.0</y>
                            </position>
                            <versionedComponentId>17a9e016-a796-346f-b77b-6651152ad706</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.21.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Directory</key>
        <value>
            <name>Directory</name>
        </value>
    </entry>
    <entry>
        <key>Conflict Resolution Strategy</key>
        <value>
            <name>Conflict Resolution Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Create Missing Directories</key>
        <value>
            <name>Create Missing Directories</name>
        </value>
    </entry>
    <entry>
        <key>Maximum File Count</key>
        <value>
            <name>Maximum File Count</name>
        </value>
    </entry>
    <entry>
        <key>Last Modified Time</key>
        <value>
            <name>Last Modified Time</name>
        </value>
    </entry>
    <entry>
        <key>Permissions</key>
        <value>
            <name>Permissions</name>
        </value>
    </entry>
    <entry>
        <key>Owner</key>
        <value>
            <name>Owner</name>
        </value>
    </entry>
    <entry>
        <key>Group</key>
        <value>
            <name>Group</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Directory</key>
        <value>C:\Users\Administrador\ARQUIVOS\WEBASSIST\NiFi</value>
    </entry>
    <entry>
        <key>Conflict Resolution Strategy</key>
        <value>replace</value>
    </entry>
    <entry>
        <key>Create Missing Directories</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Maximum File Count</key>
    </entry>
    <entry>
        <key>Last Modified Time</key>
    </entry>
    <entry>
        <key>Permissions</key>
    </entry>
    <entry>
        <key>Owner</key>
    </entry>
    <entry>
        <key>Group</key>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutFile Sucess</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>RUNNING</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#38b000</value>
</entry>
                            </style>
                            <type>org.apache.nifi.processors.standard.PutFile</type>
                        </processors>
                        <processors>
                            <id>1c4375e3-1a1c-30f6-0000-000000000000</id>
                            <parentGroupId>9a0518ff-0169-3efe-0000-000000000000</parentGroupId>
                            <position>
<x>514.0000025123284</x>
<y>87.00000942283651</y>
                            </position>
                            <versionedComponentId>1c4375e3-1a1c-30f6-8c6e-6461d357b6b3</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.21.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Input Directory</key>
        <value>
            <name>Input Directory</name>
        </value>
    </entry>
    <entry>
        <key>File Filter</key>
        <value>
            <name>File Filter</name>
        </value>
    </entry>
    <entry>
        <key>Path Filter</key>
        <value>
            <name>Path Filter</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Keep Source File</key>
        <value>
            <name>Keep Source File</name>
        </value>
    </entry>
    <entry>
        <key>Recurse Subdirectories</key>
        <value>
            <name>Recurse Subdirectories</name>
        </value>
    </entry>
    <entry>
        <key>Polling Interval</key>
        <value>
            <name>Polling Interval</name>
        </value>
    </entry>
    <entry>
        <key>Ignore Hidden Files</key>
        <value>
            <name>Ignore Hidden Files</name>
        </value>
    </entry>
    <entry>
        <key>Minimum File Age</key>
        <value>
            <name>Minimum File Age</name>
        </value>
    </entry>
    <entry>
        <key>Maximum File Age</key>
        <value>
            <name>Maximum File Age</name>
        </value>
    </entry>
    <entry>
        <key>Minimum File Size</key>
        <value>
            <name>Minimum File Size</name>
        </value>
    </entry>
    <entry>
        <key>Maximum File Size</key>
        <value>
            <name>Maximum File Size</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Input Directory</key>
        <value>C:\Users\Administrador\ARQUIVOS\WEBASSIST</value>
    </entry>
    <entry>
        <key>File Filter</key>
        <value>relatorio_de_atendimento completo SOLIDY.json</value>
    </entry>
    <entry>
        <key>Path Filter</key>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>10</value>
    </entry>
    <entry>
        <key>Keep Source File</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Recurse Subdirectories</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Polling Interval</key>
        <value>0 sec</value>
    </entry>
    <entry>
        <key>Ignore Hidden Files</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Minimum File Age</key>
        <value>0 sec</value>
    </entry>
    <entry>
        <key>Maximum File Age</key>
    </entry>
    <entry>
        <key>Minimum File Size</key>
        <value>0 B</value>
    </entry>
    <entry>
        <key>Maximum File Size</key>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>GetFile</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>RUNNING</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#38b000</value>
</entry>
                            </style>
                            <type>org.apache.nifi.processors.standard.GetFile</type>
                        </processors>
                        <processors>
                            <id>28a84901-740a-3b4e-0000-000000000000</id>
                            <parentGroupId>9a0518ff-0169-3efe-0000-000000000000</parentGroupId>
                            <position>
<x>816.0</x>
<y>592.0</y>
                            </position>
                            <versionedComponentId>28a84901-740a-3b4e-b106-2a2474b048e2</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.21.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Directory</key>
        <value>
            <name>Directory</name>
        </value>
    </entry>
    <entry>
        <key>Conflict Resolution Strategy</key>
        <value>
            <name>Conflict Resolution Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Create Missing Directories</key>
        <value>
            <name>Create Missing Directories</name>
        </value>
    </entry>
    <entry>
        <key>Maximum File Count</key>
        <value>
            <name>Maximum File Count</name>
        </value>
    </entry>
    <entry>
        <key>Last Modified Time</key>
        <value>
            <name>Last Modified Time</name>
        </value>
    </entry>
    <entry>
        <key>Permissions</key>
        <value>
            <name>Permissions</name>
        </value>
    </entry>
    <entry>
        <key>Owner</key>
        <value>
            <name>Owner</name>
        </value>
    </entry>
    <entry>
        <key>Group</key>
        <value>
            <name>Group</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Directory</key>
        <value>C:\Users\Administrador\ARQUIVOS\WEBASSIST</value>
    </entry>
    <entry>
        <key>Conflict Resolution Strategy</key>
        <value>replace</value>
    </entry>
    <entry>
        <key>Create Missing Directories</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Maximum File Count</key>
    </entry>
    <entry>
        <key>Last Modified Time</key>
    </entry>
    <entry>
        <key>Permissions</key>
    </entry>
    <entry>
        <key>Owner</key>
    </entry>
    <entry>
        <key>Group</key>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutFile Failure</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>RUNNING</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#38b000</value>
</entry>
                            </style>
                            <type>org.apache.nifi.processors.standard.PutFile</type>
                        </processors>
                        <processors>
                            <id>fecfb066-ea51-3f50-0000-000000000000</id>
                            <parentGroupId>9a0518ff-0169-3efe-0000-000000000000</parentGroupId>
                            <position>
<x>400.0</x>
<y>320.0</y>
                            </position>
                            <versionedComponentId>fecfb066-ea51-3f50-9903-d4b5b1da10b1</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.21.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>put-db-record-record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>put-db-record-record-reader</name>
        </value>
    </entry>
    <entry>
        <key>db-type</key>
        <value>
            <name>db-type</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-statement-type</key>
        <value>
            <name>put-db-record-statement-type</name>
        </value>
    </entry>
    <entry>
        <key>Statement Type Record Path</key>
        <value>
            <dependencies>
                <dependentValues>Use Record Path</dependentValues>
                <propertyName>put-db-record-statement-type</propertyName>
            </dependencies>
            <name>Statement Type Record Path</name>
        </value>
    </entry>
    <entry>
        <key>Data Record Path</key>
        <value>
            <name>Data Record Path</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-dcbp-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>put-db-record-dcbp-service</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-catalog-name</key>
        <value>
            <name>put-db-record-catalog-name</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-schema-name</key>
        <value>
            <name>put-db-record-schema-name</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-table-name</key>
        <value>
            <name>put-db-record-table-name</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-translate-field-names</key>
        <value>
            <name>put-db-record-translate-field-names</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-unmatched-field-behavior</key>
        <value>
            <name>put-db-record-unmatched-field-behavior</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-unmatched-column-behavior</key>
        <value>
            <name>put-db-record-unmatched-column-behavior</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-update-keys</key>
        <value>
            <dependencies>
                <dependentValues>Use statement.type Attribute</dependentValues>
                <dependentValues>Use Record Path</dependentValues>
                <dependentValues>UPSERT</dependentValues>
                <dependentValues>UPDATE</dependentValues>
                <dependentValues>SQL</dependentValues>
                <propertyName>put-db-record-statement-type</propertyName>
            </dependencies>
            <name>put-db-record-update-keys</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-field-containing-sql</key>
        <value>
            <dependencies>
                <dependentValues>Use statement.type Attribute</dependentValues>
                <dependentValues>Use Record Path</dependentValues>
                <propertyName>put-db-record-statement-type</propertyName>
            </dependencies>
            <name>put-db-record-field-containing-sql</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-allow-multiple-statements</key>
        <value>
            <dependencies>
                <dependentValues>Use statement.type Attribute</dependentValues>
                <dependentValues>Use Record Path</dependentValues>
                <propertyName>put-db-record-statement-type</propertyName>
            </dependencies>
            <name>put-db-record-allow-multiple-statements</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-quoted-identifiers</key>
        <value>
            <name>put-db-record-quoted-identifiers</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-quoted-table-identifiers</key>
        <value>
            <name>put-db-record-quoted-table-identifiers</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-query-timeout</key>
        <value>
            <name>put-db-record-query-timeout</name>
        </value>
    </entry>
    <entry>
        <key>rollback-on-failure</key>
        <value>
            <name>rollback-on-failure</name>
        </value>
    </entry>
    <entry>
        <key>table-schema-cache-size</key>
        <value>
            <name>table-schema-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>put-db-record-max-batch-size</key>
        <value>
            <name>put-db-record-max-batch-size</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>put-db-record-record-reader</key>
        <value>cadf3836-09f0-3113-0000-000000000000</value>
    </entry>
    <entry>
        <key>db-type</key>
        <value>MySQL</value>
    </entry>
    <entry>
        <key>put-db-record-statement-type</key>
        <value>UPSERT</value>
    </entry>
    <entry>
        <key>Statement Type Record Path</key>
    </entry>
    <entry>
        <key>Data Record Path</key>
    </entry>
    <entry>
        <key>put-db-record-dcbp-service</key>
        <value>43a9d351-4724-3807-0000-000000000000</value>
    </entry>
    <entry>
        <key>put-db-record-catalog-name</key>
    </entry>
    <entry>
        <key>put-db-record-schema-name</key>
    </entry>
    <entry>
        <key>put-db-record-table-name</key>
        <value>wa_assistencia_so</value>
    </entry>
    <entry>
        <key>put-db-record-translate-field-names</key>
        <value>true</value>
    </entry>
    <entry>
        <key>put-db-record-unmatched-field-behavior</key>
        <value>Ignore Unmatched Fields</value>
    </entry>
    <entry>
        <key>put-db-record-unmatched-column-behavior</key>
        <value>Fail on Unmatched Columns</value>
    </entry>
    <entry>
        <key>put-db-record-update-keys</key>
    </entry>
    <entry>
        <key>put-db-record-field-containing-sql</key>
    </entry>
    <entry>
        <key>put-db-record-allow-multiple-statements</key>
        <value>false</value>
    </entry>
    <entry>
        <key>put-db-record-quoted-identifiers</key>
        <value>false</value>
    </entry>
    <entry>
        <key>put-db-record-quoted-table-identifiers</key>
        <value>false</value>
    </entry>
    <entry>
        <key>put-db-record-query-timeout</key>
        <value>0 seconds</value>
    </entry>
    <entry>
        <key>rollback-on-failure</key>
        <value>false</value>
    </entry>
    <entry>
        <key>table-schema-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>put-db-record-max-batch-size</key>
        <value>1000</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutDatabaseRecord</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>retry</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>RUNNING</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#38b000</value>
</entry>
                            </style>
                            <type>org.apache.nifi.processors.standard.PutDatabaseRecord</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>WEBASSIST - SOLIDY</name>
                    <variables/>
                </processGroups>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>WEBASSIST</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>06/06/2023 16:48:27 BRT</timestamp>
</template>
